.side
  .side__up
    .side__up__box
      .side__up__box__user-name
        = current_user.name
      .side__up__box__menu
        = link_to new_group_path do
          = icon('far', 'edit', class: 'edit') 
        = link_to edit_user_path(current_user.id) do
          = icon('fas', 'cog', class: 'cog')
  .side__down
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message